@charset "utf-8";

@use 'variable' as var;
@use 'basic/mixin';

/*---------------------------------------------------------------------
サイドバー
---------------------------------------------------------------------*/
.registration {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	z-index: 9999;
	@include mixin.max-screen(var.$screen-md) {
		right: auto;
		left: 0;
		top: auto;
		bottom: 0;
		width: 100vw;
		height: auto;
	}
	a {
		background: var.$dark;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1em;
		height: 100%;
		padding: 2em 1.6vw;
		color: #fff;
		writing-mode: vertical-rl;
		@include mixin.max-screen(var.$screen-md) {
			writing-mode: horizontal-tb;
			background: rgba(20, 26, 22, .95);
			justify-content: center;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}
	h3 {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		font-size: clamp(1.4rem, 1.7vw, 1.8rem);
		@include mixin.max-screen(var.$screen-md) {
			font-size: 1.8rem;
		}
		&::before {
			content: '';
			display: block;
			width: 1.9rem;
			height: 1.9rem;
			background: url('../img/common/icon-regist.svg') no-repeat center / contain;
			margin-bottom: .6em;
			aspect-ratio: 1 / 1;
			@include mixin.max-screen(var.$screen-md) {
				margin-bottom: 0;
				margin-right: .6em;
			}
		}
	}
	.line {
		flex: 1;
		width: 1px;
		height: auto;
		background: url('../img/common/regist-line.svg') repeat-y center;
		opacity: .5;
		@include mixin.max-screen(var.$screen-md) {
			display: none;
		}
	}
	span {
		color: var.$orange;
		font-size: 65%;
		@include mixin.max-screen(var.$screen-md) {
			display: none;
		}
	}
}

/*---------------------------------------------------------------------
バナーエリア
---------------------------------------------------------------------*/
aside .bnr-area {
	max-width: 940px;
	margin: 4em auto;
}

/*---------------------------------------------------------------------
会員募集
---------------------------------------------------------------------*/
aside .register {
	background: url('../img/common/register-bg.jpg') no-repeat center / cover;
	padding: 4em 20px;
	margin-top: 4em;
	color: #fff;
	h4 {
		font-size: clamp(2.8rem, 1.7vw, 4.2rem);
		text-align: center;
	}
	p {
		margin-top: 1em;
		text-align: center;
		small {
			font-size: 80%;
		}
		a {
			text-decoration: underline;
		}
	}
	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1em .6em;
		max-width: 790px;
		margin: 1em auto 0;
		padding: 2em 3em;
		border: 1px dashed #9CA1A3;
		@include mixin.max-screen(var.$screen-md) {
			flex-direction: column;
			br {
				display: none;
			}
		}
	}
	li {
		width: calc(50% - .3em);
		font-size: clamp(1.5rem, 1.7vw, 2rem);
		line-height: 1.35;
		background: url('../img/common/icon-check.svg') no-repeat left top .25em;
		padding-left: 1.35em;
		@include mixin.max-screen(var.$screen-md) {
			width: 100%;
		}
	}
	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;
		margin-top: 2em;
		font-size: clamp(1.6rem, 1.7vw, 2rem);
		@include mixin.max-screen(var.$screen-md) {
			flex-direction: column;
		}
		a {
			padding: 1.8rem 2em 1.8rem 2em;
			line-height: 1.35;
			@include mixin.max-screen(var.$screen-md) {
				width: 100%;
			}
			&.green {
				&::before {
					content: '';
					width: 1em;
					height: 1em;
					background: url('../img/common/icon-kojin-w.svg') no-repeat center / contain;
					margin-right: 1em;
				}
				&::after {
					display: none;
				}
			}
			&.orange {
				&::before {
					content: '';
					width: 1em;
					height: 1em;
					background: url('../img/common/icon-houjin-w.svg') no-repeat center / contain;
					margin-right: 1em;
				}
				&::after {
					display: none;
				}
			}
		}
	}
}

/*---------------------------------------------------------------------
法人会員
---------------------------------------------------------------------*/
aside .members {
	.slick-track {
		display: flex;
		align-items: center;
		gap: 2em;
	}
}

/*---------------------------------------------------------------------
見出し
---------------------------------------------------------------------*/
.ttl-jp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin: 4em auto 2em;
	text-align: center;
	line-height: 1;
	.jp {
		font-size: clamp(3.4rem, 1.7vw, 4.2rem);
	}
	.en {
		font-size: clamp(1.8rem, 1.7vw, 1.8rem);
		font-family: var.$en-font;
	}
}
.ttl-en {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin: 0 auto 3em;
	text-align: center;
	line-height: 1;
	.en {
		font-size: clamp(1.2rem, 1.7vw, 1.5rem);
		font-family: var.$en-font;
		color: var.$mid;
	}
	.jp {
		font-size: clamp(2.4rem, 1.7vw, 3rem);
	}
}

/*---------------------------------------------------------------------
ボタン
---------------------------------------------------------------------*/
.btn {
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 5rem 1rem 3rem;
		background: rgba(0, 0, 0 , 1);
		border-radius: 9999px;
		color: #fff;
		position: relative;
		&::after {
			content: '';
			width: 14px;
			height: 8px;
			background: url('../img/common/arrow-w-r.svg') no-repeat center / contain;
			position: absolute;
			right: 1.6em;
			top: 50%;
			transform: translateY(-50%);
		}
		&.white {
			background: #f3f4f4;
			color: var.$dark;
			&::after {
				background: url('../img/common/arrow-b-r.svg') no-repeat center / contain;
			}
		}
		&.grey {
			background: #9ca1a3;
			color: var.$dark;
			&::after {
				background: url('../img/common/arrow-b-r.svg') no-repeat center / contain;
			}
		}
		&.green {
			background: #456750;
		}
		&.orange {
			background: #a27600;
		}
		&:hover {
			transform: scale(.95);
		}
	}
}