@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Sans+JP&family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/yakuhanjp@4.1.1/dist/css/yakuhanmp.css");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
html {
  -ms-text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
  font-size: 62.5% !important;
  background: none !important;
}

a,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
caption,
center,
cite,
code,
dd,
details,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
iframe,
img,
input,
label,
li,
main,
mark,
menu,
nav,
ol,
p,
pre,
q,
s,
section,
select,
small,
span,
strong,
summary,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
video {
  margin: 0;
  padding: 0;
  font-size: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
input,
select {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: block;
  font-size: clamp(16px, 1em, 1em);
}
input:focus,
textarea:focus {
  background: #fafafa;
  outline: none;
}
input[disabled],
textarea[disabled] {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #888;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #888;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #888;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #888;
}
input::placeholder,
textarea::placeholder {
  color: #888;
}

input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url] {
  font-family: inherit;
  color: #000;
  display: block;
  padding: 0 1em;
  border-radius: 0;
  margin: 0;
  height: 60px;
  width: 100%;
  -webkit-appearance: none;
}
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=number]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=checkbox]:focus {
  outline-color: #438832;
}
input[type=text][disabled], input[type=password][disabled], input[type=date][disabled], input[type=datetime][disabled], input[type=email][disabled], input[type=number][disabled], input[type=search][disabled], input[type=tel][disabled], input[type=time][disabled], input[type=url][disabled], input[type=checkbox][disabled] {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}
input[type=checkbox], input[type=radio] {
  display: inline;
}
input[type=button], input[type=submit] {
  -webkit-appearance: none;
  width: 400px;
  max-width: 100%;
  padding: 1.5em;
  margin: 1em auto auto auto;
  line-height: 1;
  border-radius: 0;
  border: none;
  background: #000;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}
input[type=button]:hover, input[type=submit]:hover {
  opacity: 0.8;
}

textarea {
  height: auto;
  padding: 20px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  font-family: inherit;
  display: block;
  width: 100%;
  min-height: 8em;
  border-radius: 0;
  margin-top: 0.5em;
}
textarea.low {
  height: 5em;
  min-height: 5em;
}

select {
  -webkit-appearance: none;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  font-family: inherit;
  border: 0px;
  border-radius: 0px;
}

.any,
.required {
  display: inline-block;
  margin: 0 0.75em 0.5em 0.25em;
  padding: 0.25em 0.5em;
  line-height: 1;
  font-size: 0.8em;
  font-weight: normal;
  position: relative;
  color: #fff;
}

.any {
  background-color: #aaa;
}

.required {
  background-color: #cb0000;
}

.mwform-radio-field {
  display: block;
  margin-left: 0 !important;
}
.mwform-radio-field label {
  margin: 0.5em 0;
  margin-right: 2rem;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .mwform-radio-field label {
    margin-right: 1rem;
  }
}
.mwform-radio-field label input[type=radio] {
  position: absolute;
  opacity: 0;
}
.mwform-radio-field label input[type=radio] + .mwform-radio-field-text {
  position: relative;
  padding-left: 2rem;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .mwform-radio-field label input[type=radio] + .mwform-radio-field-text {
    padding-left: 2.5rem;
  }
}
.mwform-radio-field label input[type=radio] + .mwform-radio-field-text:before {
  content: "";
  background: #eeeeee;
  border-radius: 100%;
  border: 1px solid #eeeeee;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mwform-radio-field label input[type=radio]:checked + .mwform-radio-field-text:before {
  background-color: #5b6d60;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
          box-shadow: inset 0 0 0 3px #fff;
}
.mwform-radio-field label input[type=radio]:focus + .mwform-radio-field-text:before {
  border: 1px solid #ccc;
}
.mwform-radio-field label input[type=radio]:disabled + .mwform-radio-field-text:before {
  -webkit-box-shadow: inset 0 0 0 4px #fff;
          box-shadow: inset 0 0 0 4px #fff;
  border: #ccc;
  background: #ccc;
}
.mwform-radio-field label input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

.error {
  color: #cc3300;
  width: 100%;
  font-size: 1.4rem;
  margin-top: 1rem;
  display: block;
  line-height: initial;
}

.formControl {
  width: 100%;
  padding: 1rem;
}

.formControlL {
  width: 100%;
  padding: 1rem;
}

.wpcf7-list-item {
  margin: 0 1em 0 0 !important;
}

.wpcf7-spinner {
  display: block;
  margin: auto;
}

form input.width30 {
  width: 30%;
  display: inline-block;
  margin-bottom: 1em;
}
form input.width40 {
  width: 40%;
  display: inline-block;
  margin-bottom: 1em;
}
form input.width50 {
  width: 50%;
  display: inline-block;
  margin-bottom: 1em;
}
form input.width60 {
  width: 60%;
  display: inline-block;
  margin-bottom: 1em;
}
form input.width70 {
  width: 70%;
  display: inline-block;
  margin-bottom: 1em;
}
form input.width80 {
  width: 80%;
  display: inline-block;
  margin-bottom: 1em;
}
form input.width90 {
  width: 90%;
  display: inline-block;
  margin-bottom: 1em;
}
form table tr th,
form table tr td {
  background: none;
}
@media screen and (max-width: 768px) {
  form table tr th,
  form table tr td {
    display: block;
    width: 100%;
    padding: 2em 0;
  }
}
@media screen and (max-width: 768px) {
  form table tr th {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  form table tr td {
    padding-top: 0.5em;
  }
}
form p {
  margin-bottom: 0;
}
form .small {
  margin-top: 1em;
  display: inline-block;
  line-height: 1.5;
}
form a {
  text-decoration: underline !important;
}

.screen-reader-response {
  display: none;
}

.wpcf7-response-output {
  text-align: center;
  max-width: 800px;
  margin: auto !important;
}

.wpcf7-not-valid-tip {
  color: #cb0000;
  border: 1px solid;
  display: inline-block;
  padding: 0.5em;
  line-height: 1;
  margin-top: 0.5em;
}

.wpcf7cp-btns {
  text-align: center;
}

#wpcf7cpcnf table p {
  margin: 0;
}
#wpcf7cpcnf table tr td {
  padding: 1em !important;
}

.wpcf7cp-cfm-edit-btn {
  -webkit-appearance: none;
  width: 400px;
  max-width: 100%;
  padding: 1.5em;
  margin: auto;
  line-height: 1;
  border-radius: 0;
  border: none;
  font-size: 1.2em;
  background: #eee;
  color: #888;
}

.wpcf7cp-cfm-submit-btn {
  -webkit-appearance: none;
  width: 400px;
  max-width: 100%;
  padding: 1.5em;
  margin: auto;
  line-height: 1;
  border-radius: 0;
  border: none;
  font-size: 1.2em;
  background: #000;
  color: #fff;
}

/*==================================================================================================
	ヘッダー
==================================================================================================*/
header {
  position: relative;
}
header .sp-menu {
  display: none;
  position: fixed;
  right: 1.4vw;
  top: 0.88em;
  padding: 1em 2em;
  border: 1px solid #fff;
  background: rgba(20, 26, 22, 0.5);
  color: #fff;
  line-height: 1;
  border-radius: 999px;
  z-index: 9998;
}
header .sp-menu .bars {
  display: block;
  background: #fff;
  height: 1px;
  width: 12.5px;
  position: relative;
}
header .sp-menu .bars::before, header .sp-menu .bars::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
  -webkit-transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
header .sp-menu .bars::before {
  top: 6px;
}
header .sp-menu .bars::after {
  bottom: 6px;
}
header .sp-menu.active .bars {
  background: rgba(20, 26, 22, 0);
}
header .sp-menu.active .bars::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
header .sp-menu.active .bars::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  header .sp-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.6em;
  }
}
header nav {
  background: rgba(20, 26, 22, 0.65);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6em 1.4vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
}
header nav .h-logo {
  max-width: 298px;
}
@media screen and (max-width: 767px) {
  header nav .h-logo {
    max-width: 240px;
  }
}
header nav .menu {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 767px) {
  header nav .menu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 70vw;
    height: 100vh;
    background: rgba(20, 26, 22, 0.97);
    padding: 4em;
    z-index: 9997;
  }
}
header nav .menu.open {
  right: 0;
}
header nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em 2em;
}
@media screen and (max-width: 767px) {
  header nav ul {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
header nav ul a {
  color: #fff;
  font-size: 1.4rem;
}
@media screen and (max-width: 767px) {
  header nav ul a {
    -webkit-writing-mode: horizontal-tb !important;
        -ms-writing-mode: lr-tb !important;
            writing-mode: horizontal-tb !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul a::before {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    background: url("../img/common/chevron-w-r.svg") no-repeat center/contain;
    margin-right: 1em;
  }
}
header .ttl {
  background: url("../img/common/ttl-bg.jpg") no-repeat center/cover;
  width: 100%;
  padding: 10vw 20px 5vw;
  text-align: center;
}
@media screen and (max-width: 767px) {
  header .ttl {
    padding: 36vw 20px 20vw;
  }
}
header .ttl time {
  font-family: "Crimson Text", serif;
  color: rgba(255, 255, 255, 0.7);
}
header .ttl span {
  display: block;
}
header .ttl span.jp {
  font-family: YakuHanMP, "Shippori Mincho B1", "Crimson Text", serif;
  color: #fff;
  font-size: clamp(2.6rem, 1.7vw, 5.6rem);
  font-weight: 600;
}
header .ttl span.en {
  font-family: "Crimson Text", serif;
  color: rgba(255, 255, 255, 0.7);
}
header .ttl .tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: clamp(1rem, 1.7vw, 1.4rem);
  gap: 1em;
  margin-top: 3vw;
}
header .ttl .tag a {
  color: #fff;
}
header .ttl .tag a:hover {
  text-decoration: underline;
}

/*==================================================================================================
	フッター
==================================================================================================*/
footer {
  background-image: url("../img/common/foot-bgl.svg"), url("../img/common/foot-bgr.svg");
  background-position: left center, right center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #141A16;
  color: #fff;
  margin-top: 3em;
}
@media screen and (max-width: 767px) {
  footer {
    padding: 0 2em 6em;
  }
}
footer .cnt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3em;
  padding: 3em 1.4vw;
}
@media screen and (max-width: 767px) {
  footer .cnt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}
footer .info {
  font-size: clamp(1.4rem, 1.7vw, 1.6rem);
}
@media screen and (max-width: 767px) {
  footer .info {
    width: 100%;
    text-align: center;
  }
}
footer .info .f-logo {
  max-width: 297px;
  margin-bottom: 1em;
}
@media screen and (max-width: 767px) {
  footer .info .f-logo {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  footer nav {
    width: 100%;
  }
}
footer nav .btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1em;
  font-size: 1.6rem;
}
@media screen and (max-width: 767px) {
  footer nav .btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer nav .btn a {
  width: 50%;
}
@media screen and (max-width: 767px) {
  footer nav .btn a {
    width: 100%;
  }
}
footer nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 1em 2.4em;
  margin-top: 2em;
  max-width: 700px;
  font-size: clamp(1.4rem, 1.7vw, 1.8rem);
}
@media screen and (max-width: 767px) {
  footer nav ul {
    display: none;
  }
}
footer nav li {
  white-space: nowrap;
}
footer nav li a {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer nav li a::before {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  background: url("../img/common/chevron-w-r.svg") no-repeat center/contain;
  margin-right: 0.5em;
}
footer .bnr {
  max-width: 880px;
  margin: 2em auto 0;
}
footer .bnr ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}
footer .copy {
  max-width: calc(100% - 2.8vw);
  border-top: 1px solid #9ca1a3;
  margin: 2em auto 0;
  padding: 2em 1em;
  font-size: clamp(1.1rem, 1.7vw, 1.4rem);
  text-align: center;
}

/*---------------------------------------------------------------------
サイドバー
---------------------------------------------------------------------*/
.registration {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 9999;
}
@media screen and (max-width: 767px) {
  .registration {
    right: auto;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100vw;
    height: auto;
  }
}
.registration a {
  background: #141A16;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  height: 100%;
  padding: 2em 1.6vw;
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media screen and (max-width: 767px) {
  .registration a {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    background: rgba(20, 26, 22, 0.95);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.registration h3 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1.4rem, 1.7vw, 1.8rem);
}
@media screen and (max-width: 767px) {
  .registration h3 {
    font-size: 1.8rem;
  }
}
.registration h3::before {
  content: "";
  display: block;
  width: 1.9rem;
  height: 1.9rem;
  background: url("../img/common/icon-regist.svg") no-repeat center/contain;
  margin-bottom: 0.6em;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 767px) {
  .registration h3::before {
    margin-bottom: 0;
    margin-right: 0.6em;
  }
}
.registration .line {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 1px;
  height: auto;
  background: url("../img/common/regist-line.svg") repeat-y center;
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .registration .line {
    display: none;
  }
}
.registration span {
  color: #A27600;
  font-size: 65%;
}
@media screen and (max-width: 767px) {
  .registration span {
    display: none;
  }
}

/*---------------------------------------------------------------------
バナーエリア
---------------------------------------------------------------------*/
aside .bnr-area {
  max-width: 940px;
  margin: 4em auto;
}

/*---------------------------------------------------------------------
会員募集
---------------------------------------------------------------------*/
aside .register {
  background: url("../img/common/register-bg.jpg") no-repeat center/cover;
  padding: 4em 20px;
  margin-top: 4em;
  color: #fff;
}
aside .register h4 {
  font-size: clamp(2.8rem, 1.7vw, 4.2rem);
  text-align: center;
}
aside .register p {
  margin-top: 1em;
  text-align: center;
}
aside .register p small {
  font-size: 80%;
}
aside .register p a {
  text-decoration: underline;
}
aside .register ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 1em 0.6em;
  max-width: 790px;
  margin: 1em auto 0;
  padding: 2em 3em;
  border: 1px dashed #9CA1A3;
}
@media screen and (max-width: 767px) {
  aside .register ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  aside .register ul br {
    display: none;
  }
}
aside .register li {
  width: calc(50% - 0.3em);
  font-size: clamp(1.5rem, 1.7vw, 2rem);
  line-height: 1.35;
  background: url("../img/common/icon-check.svg") no-repeat left top 0.25em;
  padding-left: 1.35em;
}
@media screen and (max-width: 767px) {
  aside .register li {
    width: 100%;
  }
}
aside .register .btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  margin-top: 2em;
  font-size: clamp(1.6rem, 1.7vw, 2rem);
}
@media screen and (max-width: 767px) {
  aside .register .btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
aside .register .btn a {
  padding: 1.8rem 2em 1.8rem 2em;
  line-height: 1.35;
}
@media screen and (max-width: 767px) {
  aside .register .btn a {
    width: 100%;
  }
}
aside .register .btn a.green::before {
  content: "";
  width: 1em;
  height: 1em;
  background: url("../img/common/icon-kojin-w.svg") no-repeat center/contain;
  margin-right: 1em;
}
aside .register .btn a.green::after {
  display: none;
}
aside .register .btn a.orange::before {
  content: "";
  width: 1em;
  height: 1em;
  background: url("../img/common/icon-houjin-w.svg") no-repeat center/contain;
  margin-right: 1em;
}
aside .register .btn a.orange::after {
  display: none;
}

/*---------------------------------------------------------------------
法人会員
---------------------------------------------------------------------*/
aside .members .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

/*---------------------------------------------------------------------
見出し
---------------------------------------------------------------------*/
.ttl-jp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  margin: 4em auto 2em;
  text-align: center;
  line-height: 1;
}
.ttl-jp .jp {
  font-size: clamp(3.4rem, 1.7vw, 4.2rem);
}
.ttl-jp .en {
  font-size: clamp(1.8rem, 1.7vw, 1.8rem);
  font-family: "Crimson Text", serif;
}

.ttl-en {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  margin: 0 auto 3em;
  text-align: center;
  line-height: 1;
}
.ttl-en .en {
  font-size: clamp(1.2rem, 1.7vw, 1.5rem);
  font-family: "Crimson Text", serif;
  color: #055555;
}
.ttl-en .jp {
  font-size: clamp(2.4rem, 1.7vw, 3rem);
}

/*---------------------------------------------------------------------
ボタン
---------------------------------------------------------------------*/
.btn a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 5rem 1rem 3rem;
  background: rgb(0, 0, 0);
  border-radius: 9999px;
  color: #fff;
  position: relative;
}
.btn a::after {
  content: "";
  width: 14px;
  height: 8px;
  background: url("../img/common/arrow-w-r.svg") no-repeat center/contain;
  position: absolute;
  right: 1.6em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn a.white {
  background: #f3f4f4;
  color: #141A16;
}
.btn a.white::after {
  background: url("../img/common/arrow-b-r.svg") no-repeat center/contain;
}
.btn a.grey {
  background: #9ca1a3;
  color: #141A16;
}
.btn a.grey::after {
  background: url("../img/common/arrow-b-r.svg") no-repeat center/contain;
}
.btn a.green {
  background: #456750;
}
.btn a.orange {
  background: #a27600;
}
.btn a:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

/*==================================================================================================
	サイト基礎
==================================================================================================*/
body {
  color: #141A16;
  background-color: #fff;
  font-family: YakuHanMP, "Shippori Mincho B1", "Crimson Text", serif;
  font-size: clamp(1.4rem, 1.7vw, 1.6rem);
  font-weight: 400;
  -webkit-font-feature-settings: "palt" 1, "trad" 1;
          font-feature-settings: "palt" 1, "trad" 1;
  line-height: 2;
  letter-spacing: 0.066em;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
body ::-moz-selection {
  background: #055555;
  color: #fff;
}
body ::selection {
  background: #055555;
  color: #fff;
}
body.noScrolled {
  overflow: hidden;
}
body .iconFont,
body .fa,
body .fa-solid,
body .fa-regular,
body .fa-light,
body .fa-thin,
body .material-symbols-outlined,
body .material-symbols-rounded,
body .material-symbols-sharp,
body *::before,
body *::after {
  font-family: "Font Awesome 5 Free", "Font Awesome 5";
  font-variation-settings: 900;
  font-weight: 900;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 400;
  line-height: 1.5;
}
body a {
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
  color: inherit;
}
body a:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.7;
}
body img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

.wrap {
  overflow-x: hidden;
}

/*---------------------------------------------------------------------
共通 Common
---------------------------------------------------------------------*/
.telLink {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
.telLink _:-ms-fullscreen,
.telLink :root .selector {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .telLink {
    pointer-events: auto;
    letter-spacing: 0.02em;
  }
}

.spShow {
  display: none;
}
@media screen and (max-width: 767px) {
  .spShow {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .pcShow {
    display: none;
  }
}

.indentText {
  text-indent: -1em;
  padding-left: 1em;
}

.small {
  font-size: 70%;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.en {
  font-family: "Crimson Text", serif;
}

@media screen and (max-width: 560px) {
  .spLeft {
    text-align: left;
  }
}

.lContainer {
  position: relative;
}

.mContainer {
  padding: 5em 0;
}
@media screen and (max-width: 480px) {
  .mContainer {
    padding: 4em 0;
  }
}

.sContainer {
  padding: 3em 0;
}
.sContainer:first-child {
  margin-top: 0;
}

.inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .inner {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.innerL {
  max-width: 95%;
  margin: 0 auto;
}

.innerS {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .innerS {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
@media screen and (max-width: 767px) {
  .innerS {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media screen and (max-width: 767px) {
  .innerS {
    max-width: 90%;
  }
}

.flexWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 1em;
}
@media screen and (max-width: 767px) {
  .flexWrap {
    gap: 1em;
  }
}
.flexWrap.-col2 > * {
  width: calc(50% - 0.5em);
}
@media screen and (max-width: 767px) {
  .flexWrap.-col2 > * {
    width: 100%;
  }
}
.flexWrap.-col3 > * {
  width: calc(33.3333333333% - 0.6666666667em);
}
@media screen and (max-width: 767px) {
  .flexWrap.-col3 > * {
    width: calc(50% - 0.5em);
  }
}
.flexWrap.-col4 > * {
  width: calc(25% - 0.75em);
}
@media screen and (max-width: 767px) {
  .flexWrap.-col4 > * {
    width: calc(33.3333333333% - 0.6666666667em);
  }
}
.flexWrap.-col5 > * {
  width: calc(20% - 0.8em);
}
@media screen and (max-width: 767px) {
  .flexWrap.-col5 > * {
    width: calc(33.3333333333% - 0.6666666667em);
  }
}
.flexWrap.-col6 > * {
  width: calc(16.6666666667% - 0.8333333333em);
}
@media screen and (max-width: 767px) {
  .flexWrap.-col6 > * {
    width: calc(33.3333333333% - 0.6666666667em);
  }
}
.flexWrap.-col7 > * {
  width: calc(14.2857142857% - 0.8571428571em);
}
@media screen and (max-width: 767px) {
  .flexWrap.-col7 > * {
    width: calc(33.3333333333% - 0.6666666667em);
  }
}
.flexWrap.-col8 > * {
  width: calc(12.5% - 0.875em);
}
@media screen and (max-width: 767px) {
  .flexWrap.-col8 > * {
    width: calc(33.3333333333% - 0.6666666667em);
  }
}

@media screen and (max-width: 767px) {
  .scrollBox {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: 2em 0;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  .scrollBox > * {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    padding: 1em 5vw;
    max-width: 100%;
    vertical-align: top;
  }
  .scrollBox > * > * {
    width: 200vw;
    max-width: initial;
  }
  .scrollBox ::-webkit-scrollbar {
    height: 4px;
  }
  .scrollBox ::-webkit-scrollbar-track {
    background: #eee;
  }
  .scrollBox ::-webkit-scrollbar-thumb {
    background: #aaa;
    border: none;
  }
  .scrollBox ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}